<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinoknots.bill.ui.entity.BillTypePoDao">
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillTypePo">
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type (type_id, type_name, type_desc, 
      creater_id, create_time)
    values (#{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{typeDesc,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="typeDesc != null">
        type_desc,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillTypePo">
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type (type_id, type_name, type_desc, 
      creater_id, create_time)
    values (#{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{typeDesc,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="typeDesc != null">
        type_desc,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillTypePo">
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type (type_id, type_name, type_desc, 
      creater_id, create_time)
    values (#{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{typeDesc,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="typeDesc != null">
        type_desc,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillTypePo">
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type (type_id, type_name, type_desc, 
      creater_id, create_time)
    values (#{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{typeDesc,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="typeDesc != null">
        type_desc,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillTypePo">
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type (type_id, type_name, type_desc, 
      creater_id, create_time)
    values (#{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{typeDesc,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="typeDesc != null">
        type_desc,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillTypePo">
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type (type_id, type_name, type_desc, 
      creater_id, create_time)
    values (#{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{typeDesc,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="typeDesc != null">
        type_desc,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillTypePo">
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type (type_id, type_name, type_desc, 
      creater_id, create_time)
    values (#{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{typeDesc,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="typeDesc != null">
        type_desc,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillTypePo">
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type (type_id, type_name, type_desc, 
      creater_id, create_time)
    values (#{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{typeDesc,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="typeDesc != null">
        type_desc,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillTypePo">
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type (type_id, type_name, type_desc, 
      creater_id, create_time)
    values (#{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{typeDesc,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="typeDesc != null">
        type_desc,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillTypePo">
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type (type_id, type_name, type_desc, 
      creater_id, create_time)
    values (#{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{typeDesc,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="typeDesc != null">
        type_desc,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillTypePo">
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type (type_id, type_name, type_desc, 
      creater_id, create_time)
    values (#{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{typeDesc,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="typeDesc != null">
        type_desc,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillTypePo">
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type (type_id, type_name, type_desc, 
      creater_id, create_time)
    values (#{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{typeDesc,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillTypePo">
    insert into tb_bill_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="typeDesc != null">
        type_desc,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>