<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinoknots.bill.ui.entity.BillDetailPoDao">
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillDetailPo">
    <id column="bill_id" jdbcType="VARCHAR" property="billId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="use_type_id" jdbcType="VARCHAR" property="useTypeId" />
    <result column="bill_desc" jdbcType="VARCHAR" property="billDesc" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
  </resultMap>
  <sql id="Base_Column_List">
    bill_id, type_id, amount, use_type_id, bill_desc, create_time, creater_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_bill_detail
    where bill_id = #{billId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_bill_detail
    where bill_id = #{billId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail (bill_id, type_id, amount, 
      use_type_id, bill_desc, create_time, 
      creater_id)
    values (#{billId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{amount,jdbcType=BIGINT}, 
      #{useTypeId,jdbcType=VARCHAR}, #{billDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{createrId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        bill_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="useTypeId != null">
        use_type_id,
      </if>
      <if test="billDesc != null">
        bill_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="useTypeId != null">
        #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="billDesc != null">
        #{billDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    update tb_bill_detail
    <set>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="useTypeId != null">
        use_type_id = #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="billDesc != null">
        bill_desc = #{billDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=VARCHAR},
      </if>
    </set>
    where bill_id = #{billId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    update tb_bill_detail
    set type_id = #{typeId,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=BIGINT},
      use_type_id = #{useTypeId,jdbcType=VARCHAR},
      bill_desc = #{billDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      creater_id = #{createrId,jdbcType=VARCHAR}
    where bill_id = #{billId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillDetailPo">
    <result column="bill_id" jdbcType="VARCHAR" property="billId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="use_type_id" jdbcType="VARCHAR" property="useTypeId" />
    <result column="bill_desc" jdbcType="VARCHAR" property="billDesc" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail (bill_id, type_id, amount, 
      use_type_id, bill_desc, create_time, 
      creater_id)
    values (#{billId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{useTypeId,jdbcType=VARCHAR}, #{billDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{createrId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        bill_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="useTypeId != null">
        use_type_id,
      </if>
      <if test="billDesc != null">
        bill_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="useTypeId != null">
        #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="billDesc != null">
        #{billDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillDetailPo">
    <result column="bill_id" jdbcType="VARCHAR" property="billId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="use_type_id" jdbcType="VARCHAR" property="useTypeId" />
    <result column="bill_desc" jdbcType="VARCHAR" property="billDesc" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail (bill_id, type_id, amount, 
      use_type_id, bill_desc, create_time, 
      creater_id)
    values (#{billId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{useTypeId,jdbcType=VARCHAR}, #{billDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{createrId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        bill_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="useTypeId != null">
        use_type_id,
      </if>
      <if test="billDesc != null">
        bill_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="useTypeId != null">
        #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="billDesc != null">
        #{billDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillDetailPo">
    <result column="bill_id" jdbcType="VARCHAR" property="billId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="use_type_id" jdbcType="VARCHAR" property="useTypeId" />
    <result column="bill_desc" jdbcType="VARCHAR" property="billDesc" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail (bill_id, type_id, amount, 
      use_type_id, bill_desc, create_time, 
      creater_id)
    values (#{billId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{useTypeId,jdbcType=VARCHAR}, #{billDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{createrId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        bill_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="useTypeId != null">
        use_type_id,
      </if>
      <if test="billDesc != null">
        bill_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="useTypeId != null">
        #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="billDesc != null">
        #{billDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillDetailPo">
    <result column="bill_id" jdbcType="VARCHAR" property="billId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="use_type_id" jdbcType="VARCHAR" property="useTypeId" />
    <result column="bill_desc" jdbcType="VARCHAR" property="billDesc" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail (bill_id, type_id, amount, 
      use_type_id, bill_desc, create_time, 
      creater_id)
    values (#{billId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{useTypeId,jdbcType=VARCHAR}, #{billDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{createrId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        bill_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="useTypeId != null">
        use_type_id,
      </if>
      <if test="billDesc != null">
        bill_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="useTypeId != null">
        #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="billDesc != null">
        #{billDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillDetailPo">
    <result column="bill_id" jdbcType="VARCHAR" property="billId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="use_type_id" jdbcType="VARCHAR" property="useTypeId" />
    <result column="bill_desc" jdbcType="VARCHAR" property="billDesc" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail (bill_id, type_id, amount, 
      use_type_id, bill_desc, create_time, 
      creater_id)
    values (#{billId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{useTypeId,jdbcType=VARCHAR}, #{billDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{createrId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        bill_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="useTypeId != null">
        use_type_id,
      </if>
      <if test="billDesc != null">
        bill_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="useTypeId != null">
        #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="billDesc != null">
        #{billDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillDetailPo">
    <result column="bill_id" jdbcType="VARCHAR" property="billId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="use_type_id" jdbcType="VARCHAR" property="useTypeId" />
    <result column="bill_desc" jdbcType="VARCHAR" property="billDesc" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail (bill_id, type_id, amount, 
      use_type_id, bill_desc, create_time, 
      creater_id)
    values (#{billId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{useTypeId,jdbcType=VARCHAR}, #{billDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{createrId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        bill_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="useTypeId != null">
        use_type_id,
      </if>
      <if test="billDesc != null">
        bill_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="useTypeId != null">
        #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="billDesc != null">
        #{billDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillDetailPo">
    <result column="bill_id" jdbcType="VARCHAR" property="billId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="use_type_id" jdbcType="VARCHAR" property="useTypeId" />
    <result column="bill_desc" jdbcType="VARCHAR" property="billDesc" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail (bill_id, type_id, amount, 
      use_type_id, bill_desc, create_time, 
      creater_id)
    values (#{billId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{useTypeId,jdbcType=VARCHAR}, #{billDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{createrId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        bill_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="useTypeId != null">
        use_type_id,
      </if>
      <if test="billDesc != null">
        bill_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="useTypeId != null">
        #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="billDesc != null">
        #{billDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillDetailPo">
    <result column="bill_id" jdbcType="VARCHAR" property="billId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="use_type_id" jdbcType="VARCHAR" property="useTypeId" />
    <result column="bill_desc" jdbcType="VARCHAR" property="billDesc" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail (bill_id, type_id, amount, 
      use_type_id, bill_desc, create_time, 
      creater_id)
    values (#{billId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{useTypeId,jdbcType=VARCHAR}, #{billDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{createrId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        bill_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="useTypeId != null">
        use_type_id,
      </if>
      <if test="billDesc != null">
        bill_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="useTypeId != null">
        #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="billDesc != null">
        #{billDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillDetailPo">
    <result column="bill_id" jdbcType="VARCHAR" property="billId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="use_type_id" jdbcType="VARCHAR" property="useTypeId" />
    <result column="bill_desc" jdbcType="VARCHAR" property="billDesc" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail (bill_id, type_id, amount, 
      use_type_id, bill_desc, create_time, 
      creater_id)
    values (#{billId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{useTypeId,jdbcType=VARCHAR}, #{billDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{createrId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        bill_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="useTypeId != null">
        use_type_id,
      </if>
      <if test="billDesc != null">
        bill_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="useTypeId != null">
        #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="billDesc != null">
        #{billDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillDetailPo">
    <result column="bill_id" jdbcType="VARCHAR" property="billId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="use_type_id" jdbcType="VARCHAR" property="useTypeId" />
    <result column="bill_desc" jdbcType="VARCHAR" property="billDesc" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail (bill_id, type_id, amount, 
      use_type_id, bill_desc, create_time, 
      creater_id)
    values (#{billId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{useTypeId,jdbcType=VARCHAR}, #{billDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{createrId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        bill_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="useTypeId != null">
        use_type_id,
      </if>
      <if test="billDesc != null">
        bill_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="useTypeId != null">
        #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="billDesc != null">
        #{billDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillDetailPo">
    <result column="bill_id" jdbcType="VARCHAR" property="billId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="use_type_id" jdbcType="VARCHAR" property="useTypeId" />
    <result column="bill_desc" jdbcType="VARCHAR" property="billDesc" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail (bill_id, type_id, amount, 
      use_type_id, bill_desc, create_time, 
      creater_id)
    values (#{billId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{useTypeId,jdbcType=VARCHAR}, #{billDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{createrId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        bill_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="useTypeId != null">
        use_type_id,
      </if>
      <if test="billDesc != null">
        bill_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="useTypeId != null">
        #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="billDesc != null">
        #{billDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillDetailPo">
    <result column="bill_id" jdbcType="VARCHAR" property="billId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="use_type_id" jdbcType="VARCHAR" property="useTypeId" />
    <result column="bill_desc" jdbcType="VARCHAR" property="billDesc" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail (bill_id, type_id, amount, 
      use_type_id, bill_desc, create_time, 
      creater_id)
    values (#{billId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{useTypeId,jdbcType=VARCHAR}, #{billDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{createrId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        bill_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="useTypeId != null">
        use_type_id,
      </if>
      <if test="billDesc != null">
        bill_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="useTypeId != null">
        #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="billDesc != null">
        #{billDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillDetailPo">
    <result column="bill_id" jdbcType="VARCHAR" property="billId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="use_type_id" jdbcType="VARCHAR" property="useTypeId" />
    <result column="bill_desc" jdbcType="VARCHAR" property="billDesc" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail (bill_id, type_id, amount, 
      use_type_id, bill_desc, create_time, 
      creater_id)
    values (#{billId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{useTypeId,jdbcType=VARCHAR}, #{billDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{createrId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        bill_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="useTypeId != null">
        use_type_id,
      </if>
      <if test="billDesc != null">
        bill_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="useTypeId != null">
        #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="billDesc != null">
        #{billDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sinoknots.bill.ui.entity.BillDetailPo">
    <result column="bill_id" jdbcType="VARCHAR" property="billId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="use_type_id" jdbcType="VARCHAR" property="useTypeId" />
    <result column="bill_desc" jdbcType="VARCHAR" property="billDesc" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
  </resultMap>
  <insert id="insert" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail (bill_id, type_id, amount, 
      use_type_id, bill_desc, create_time, 
      creater_id)
    values (#{billId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{useTypeId,jdbcType=VARCHAR}, #{billDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{createrId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoknots.bill.ui.entity.BillDetailPo">
    insert into tb_bill_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        bill_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="useTypeId != null">
        use_type_id,
      </if>
      <if test="billDesc != null">
        bill_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="useTypeId != null">
        #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="billDesc != null">
        #{billDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>